<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
        <%= f.submit "Submit dose", class: "btn btn-primary" %>
  <% end %>

  <div class="footer">
    <div class="footer-links">
      <i class="fas fa-arrow-alt-circle-left"><%= link_to "Back to cocktail", cocktail_path(@cocktail) %></i>
    </div>
  </div>

</div>